body {
  font-family: 'Helvetica', Verdana, Arial, "MS Trebuchet", sans-serif;
  text-shadow: #333 3px 3px 2px;
  color: #efe;
  background: #363;
}

h1 {
  font-family: 'DymaxionScriptRegular', 'Helvetica', Arial;
  margin: 0;
  color: #bdb;
    font-size: 50px;
}
#name {
   width: 194px;
   border: 3px solid #131;
   -moz-border-radius: 5px;
   border-radius: 5px;
   padding: 5px;
   text-align: center;
}
#name:focus {
  outline: 0 none;
}
#response {
  margin-top: 5px;
}
.enter, .cancel, .invite-answer {
  font-family:  Arial, "MS Trebuchet", sans-serif;
  margin-top: 10px;
  width: 200px;
  color: #eee;
  height: 30px;
  background: #696;
  border: 3px solid #131; 
  font-size: 14px;
  font-weight: bold;
  text-shadow: #333 1px 1px 2px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

input#no {
  background: #966;
}

.enter:hover, .cancel:hover, .invite-answer:hover {
  background: #bdb;
  color: #131;
  border: 3px solid #131;
}

input#no:hover {
  background: #dbb;
  color: #311;
  border: 3px solid #311;
}

.enter:active, .cancel:active, .invite-answer:active {
  width: 210px;

}
#players {
  text-align: left;
}
.player {
  margin-bottom: 5px;
}
.controls {
  font-size: 10px;
}
.controls a {
  color: #ddd;
}
.player-name {
  width: 350px;
}

body#page #body-wrapper {
  width: 300px;
  margin: 0 auto;
  background: #363;
  text-align: center;
}

.letter, .letter.hit, .board-cell {
  width: 33px;
  height: 25px;
  
  text-align: center;
  padding-top: 7px;
  
  
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.letter, .letter.hit {
  background: #131;
  border: #363 1px solid;
  text-transform: uppercase;
}

.board-cell {
background: #bdb;
border: #363 1px solid;
}
.letter.ui-draggable-dragging {
  background: #242;
}
#board {
  margin-top: 10px;
  border-spacing: 0px;
}
#board td {
  width: 30px;
  height: 30px;
  background: none;
}
#private {
  border-spacing: 0px;
}
#private td {
  width: 30px;
  background: none;
}
#time {
  font-size: 12px;
}
#round-status {
  width: 100%;
  text-align: right;
}
#round-status .player {
  text-align: left;
}
#round-status tr.headers td {
  border-bottom: 1px solid #aaa;
}
#next-game {
  margin-top: 20px;
  font-size: 12px;
}
#text {
  margin-top: 10px;
  text-shadow: #333 1px 1px 1px;
  font-size: 10px;
}
#text a, #about a {
    color: #bdb;
}
#spinner {
  margin-top: 20px;
}
#about, #rules {
  display: none;
  margin-top: 10px;
  font-size: 12px;
}
